@font-face {
    font-family: 'Mona Sans';
    src:
        url('assets/Mona-Sans.woff2') format('woff2 supports variations'),
        url('assets/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Hubot Sans';
    src:
        url('assets/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('assets/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --text-color-0: #0d1117;
    --text-color-1: #848d97;
    --background-color-0: #f6f8fa;
    --box-shadow-color-0: rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
    --box-shadow-color-0-hover: rgba(255, 255, 255) 0 0 0 2px inset;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color-0: white;
        --background-color-0: #0d1117;
        --background-color-1: #161b22;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Mona Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color-0);
}

h1 {
    margin-bottom: 0.5rem;
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    margin-bottom: 3rem;
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1.5rem;
    color: var(--text-color-1);
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0 auto;
    padding: 0 4rem;
    min-width: min-content;
    max-width: 78rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color-0);
}

body > * {
    height: 100dvh;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ico {
    position: absolute;
    fill: var(--background-color-1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    filter: grayscale() invert();
    opacity: 0.1;
    z-index: -1;
}

.name::before {
    content: url(assets/Fractial-0.svg);
    margin-right: 0.5rem;
}

.btn-wrapper {
    display: flex;
    gap: 1rem;
    padding-top: 6rem;
}

.btn {
    padding: 1rem 1.5rem;
    min-width: fit-content;
    width: 6rem;
    border-radius: 0.5rem;
    font-family: 'Hubot Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.25s ease;
}

[box-shadow] {
    box-shadow: var(--box-shadow-color-0);
}

[box-shadow]:hover {
    box-shadow: var(--box-shadow-color-0-hover);
}

#projects {
    height: fit-content;
}

#repos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
}

.repo > img {
    max-width: 100%;
    min-width: 400px;
    border-radius: 0.5rem;
}

footer {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: var(--background-color-1);
}

footer > span {
    color: var(--text-color-1);
}